@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.main{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}
.cardtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 15%;
    padding: 4%;
}
.card{
    background-color: beige;
    width: 60vw;
    height: 60vh;
    margin: auto;
}
.icon{
    width: 20vw;
}
.summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
    margin: auto;
}